<h1>Hello Design!</h1>
<p><%= link_to 'Frontend Mentor', '/design/frontend-mentor' %></p>
<p><%= link_to 'Site Clones', '/design/site-clones' %></p>
<p><%= link_to 'SVG Playground', '/design/svg-playground' %></p>