<h1>Hello Design!</h1>
<p><%= link_to 'Frontend Mentor', design_frontend_mentor_path %></p>
<p><%= link_to 'Site Clones', design_site_clones_path %></p>
<p><%= link_to 'SVG Playground', design_svg_playground_path %></p>