<div class="container designs-bg">
  <div class="flex">
    <div class="designs-title">
      <p>squishy design</p>
    </div>
    <div class="designs-sub right flex">
      <%= link_to 'frontend mentor', design_mentor_path %>
      <%= link_to 'site clones', design_site_clones_path %>
      <%= link_to 'svg playground', design_svg_playground_path %>
    </div>
  </div>
</div>