<h1>Frontend Mentor</h1>

<div class="flex flex-col">
  <%= link_to '1/profile card component', design_mentor_profile_card_component_path %>
  <%= link_to '2/faq accordion card', design_mentor_faq_accordion_card_path %>
  <%= link_to '3/social proof section', design_mentor_social_proof_section_path %>
</div>