<h1>Conquering Responsive Design</h1>

<div class="flex flex-col">
  <%= link_to 'Challenge 1', design_responsive_challenge_1_path %>
  <%= link_to 'Challenge 2', design_responsive_challenge_2_path %>
</div>