<div class="container home-bg">
  <div class="flex-col">
    <div class="home-title">
      <p>squishy rice, squishy world</p>
      <%# <p>hello squishies</p> %>
    </div>
    <div class="sub">
      <%= link_to 'design', design_path %>
      <br>
      <%= link_to 'projects', projects_path %>
    </div>
  </div>
</div>