<div class="container flex flex-center-all">
  <div class="article-preview-component flex flex-center-all">
    <div class="flex article-preview-component-box">
      <div class="article-preview-component-box-image"></div>
      <div class="flex flex-col">
        <span>Shift the overall look and feel...</span>
        <span>Ever been in a room and felt like...</span>
        <div class="flex"></div>
      </div>
    </div>
  </div>
</div>