<div class="container flex flex-center-all">
  <div class="article-preview-component flex flex-center-all">
    <div class="flex article-preview-component-box">
      <div class="article-preview-component-box-image"></div>
      <div class="flex flex-col article-preview-component-box-text">
        <span class="article-preview-component-box-text-main">Shift the overall look and feel by adding these wonderful touches to furniture in your home.</span>
        <span class="article-preview-component-box-text-secondary">Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I've got some simple tips to help you make any room feel complete.</span>
        <div class="flex">
          <div class="article-preview-component-box-text-photo"></div>
          <div class="article-preview-component-box-text-label flex flex-col flex-center">
            <span class="article-preview-component-box-text-label-name">Michelle Appleton</span>
            <span class="article-preview-component-box-text-label-date">28 Jun 2020</span>
          </div>
          <div class="article-preview-component-box-text-share right">
            <svg xmlns="http://www.w3.org/2000/svg" transform="translate(9 8)" width="15" height="13"><path fill="#6E8098" d="M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>