<div class="container flex flex-center-all">
  <div class="coding-bootcamp-testimonials flex flex-center-all">
    <div class="coding-bootcamp-testimonials-copy">
      Hello
    </div>
    <div class="coding-bootcamp-testimonials-image">
      World
    </div>
  </div>
</div>