<div class="container flex flex-center-all">
  <div class="coding-bootcamp-testimonials flex flex-center-all">
    <div class="coding-bootcamp-testimonials-copy">
      <span class="coding-bootcamp-testimonials-quote">
        "I've been interested in coding for a while but never taken the jump, until now. I couldn't recommend this course enough. I'm now in the job of my dreams and so excited about the future."
      </span>
      <div class="coding-bootcamp-testimonials-label flex">
        <span class="coding-bootcamp-testimonials-copy-name">Tanya Sinclair</span>
        <span class="coding-bootcamp-testimonials-copy-role">UX Engineer</span>
      </div>
    </div>
    <div class="coding-bootcamp-testimonials-image">
      <div class="coding-bootcamp-testimonials-photo"></div>
      <div class="coding-bootcamp-testimonials-button"></div>
    </div>
  </div>
</div>