<div class="container flex flex-center-all">
  <div class="profile-card-component-box flex flex-center-all">
    <div class="profile-card-component-bg-pattern-top"></div>
    <div class="profile-card-component-bg-pattern-bottom"></div>
    <div class="profile-card-component">
      <div class="profile-card-component-card-bg-pattern"></div>
      <div class="profile-card-component-photo-outline"></div>
      <div class="profile-card-component-photo"></div>
      <div class="profile-card-component-copy">

      </div>
    </div>
  </div>
</div>