<div class="container flex flex-center-all">
  <div class="profile-card-component-box flex flex-center-all">
    <div class="profile-card-component flex-col">
      <div class="profile-card-component-card-bg-pattern">
      </div>
      <div class="profile-card-copy">
        
      </div>
    </div>
  </div>
</div>