<div class="container flex flex-center-all">
  <div class="profile-card-component-box flex flex-center-all">
    <div class="profile-card-component-bg-pattern-top">
      <svg viewbox="290 500 978 978" transform="translate(-231 129)" xmlns="http://www.w3.org/2000/svg" overflow="hidden"><defs><linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a"><stop stop-color="#0989B4" stop-opacity="0" offset="0%"/><stop stop-color="#53FFEE" offset="99.94%"/></linearGradient></defs><ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd" opacity=".5"/></svg>
    </div>
    <div class="profile-card-component-bg-pattern-bottom">
      <svg viewbox="-230 -640 978 978" transform="translate(231 -129)" xmlns="http://www.w3.org/2000/svg" overflow="hidden"><defs><linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a"><stop stop-color="#0989B4" stop-opacity="0" offset="0%"/><stop stop-color="#53FFEE" offset="99.94%"/></linearGradient></defs><ellipse fill="url(#a)" transform="scale(1 -1) rotate(45 1669.55 0)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd" opacity=".25"/></svg>
    </div>
    <div class="profile-card-component">
      <div class="profile-card-component-card-bg-pattern"></div>
      <div class="profile-card-component-photo-outline"></div>
      <div class="profile-card-component-photo"></div>
      <div class="profile-card-component-copy flex flex-col flex-center-all">
        <div class="flex">       
          <span class="profile-card-component-copy-name">Victor Crest</span>
          <span class="profile-card-component-copy-age">26</span>
        </div>
        <span class="profile-card-component-copy-city">London</span>
        <div class="flex profile-card-component-copy-stats">
          <div class="flex flex-col flex-center-all profile-card-component-copy-stats-col">
            <span class="profile-card-component-copy-stats-top">80K</span>
            <span class="profile-card-component-copy-stats-bottom">Followers</span>
          </div>
          <div class="flex flex-col flex-center-all profile-card-component-copy-stats-col">
            <span class="profile-card-component-copy-stats-top">803K</span>
            <span class="profile-card-component-copy-stats-bottom">Likes</span>
          </div>
          <div class="flex flex-col flex-center-all profile-card-component-copy-stats-col">
            <span class="profile-card-component-copy-stats-top">1.4K</span>
            <span class="profile-card-component-copy-stats-bottom">Photos</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>