<div class="container flex flex-col flex-center-all social-proof-section">
  <div class="flex flex-center social-proof-section-top">
    <div class="flex flex-col">
      <span>10,000+ of our users love our products</span>
      <span>We only provide great products combined with excellent service. See what our satisfied customers are saying about our services.</span>
    </div>
    <div class="flex flex-col">
      <span>World</span>
      <span>World</span>
      <span>World</span>
    </div>
  </div>
</div>