<h1>Hello Projects!</h1>
<p><%= link_to 'Data Viz', projects_data_viz_path %></p>
<p><%= link_to 'API Playground', projects_api_playground_path %></p>
<p><%= link_to 'Application Design', projects_app_ui_path %></p>