<div class="container projects-bg">
  <div class="flex">
    <div class="projects-title">
      <p>squishy projects</p>
    </div>
    <div class="projects-sub right flex">
      <%= link_to 'data viz', projects_data_viz_path %>
      <%= link_to 'api playground', projects_api_playground_path %>
      <%= link_to 'application design', projects_app_ui_path %>
    </div>
  </div>
</div>