<h1>Hello Projects!</h1>
<p><%= link_to 'Data Viz', '/projects/data-viz' %></p>
<p><%= link_to 'API Playground', '/projects/api-playground' %></p>
<p><%= link_to 'Application Design', '/projects/app-ui' %></p>