.flex {
  display: flex;
  &-col {
    flex-direction: column;
  }
  &-center {
    justify-content: center;
  }
  &-center-align {
    align-items: center;
  }
  &-center-all {
    justify-content: center;
    align-items: center;
  }
}

