.c1-container {
  background: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;
  padding: 4em;
}

.c1-intro-content {
  font-family: sans-serif;
  width: 50%;
}

.c2-intro-container {
  width: 100%;
  background: #23424a;
  color: white;
  padding: 50px 30px;
}

.c2-main-container {
  width: 100%;
  padding: 10px 30px;
}

.c2-content {
  margin: 0 auto;
  font-size: 1.25rem;
  max-width: 950px;
}

.c3-hero {
  background:  #23424A;
  padding: 100px 0px;
  color: #FFF;
}

.c3-container {
  font-family: 'Roboto';
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
}

.c3-content {
  width: 60%;
  > h1 {
    font-family: 'Roboto Black';
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
  }
  > p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 50px;
  }
  > .button {
    display: inline-block;
    font-family: 'Roboto Black';
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    padding: .75em 2em;
    border-radius: 100px;
    font-size: 21px;
    background: #38CFD9;
  }
}

.c4-container {
  font-family: 'Roboto';
  font-size: 1.3em;
  width: 80%;
  max-width: 1800px;
  padding: 100px 0px;
  margin: 0 auto;
  &-bottom {
    font-family: 'Roboto';
    font-size: 1.3em;
    padding: 100px 0px;
    background: #136c72;
  }
}

.c4-col {
  > h2 {
    font-family: 'Roboto Black';
    font-size: 2em;
    color: #87629a;
  }
  > p {
    line-height: 1.5em;
    text-align: center;
    // padding: 0em 1.5em;
  }
}

.c4-col + .c4-col {
  margin-left: 20px;
}

.c4-content-bottom {
  margin: 0 auto;
  width: 80%;
}

.c4-col-bottom {
  color: #FFF;
  // padding: 0em 2.25em;
  > h2 {
    font-family: 'Roboto Black';
    font-size: 2em;
  }
  > p {
    line-height: 1.5em;
    text-align: center;
    padding: 0em 1.5em;
  }
}

.c5-hero {
  background:  #23424A;
  color: #FFF;
  padding: 100px 0px;
}

.c5-container {
  font-family: 'Roboto';
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
}

.c5-heading {
  width: 60%;
  padding-right: 20px;
  > h1 {
    font-family: 'Roboto Black';
    font-size: 48px;
    line-height: 56px;
    margin-top: 0 !important;
    margin-bottom: 30px;
  }
  > p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 50px;
  }
  > .button {
    display: inline-block;
    font-family: 'Roboto Black';
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    padding: .75em 2em;
    border-radius: 100px;
    font-size: 21px;
    background: #38CFD9;
  }
}

.c5-body {
  padding: 80px 0px;
}

.c5-content {
  width: 60%;
  padding-right: 20px;
  > h2 {
    font-family: 'Roboto Black';
    font-size: 2em;
    color: #136c72;
  }
  > p {
    line-height: 1.5em;
    color: #23424a;
  }
}

.c5-sidebar {
  width: 40%;
  background: #136c72;
  color: #FFF;
  padding: 40px;
}

.c5-col {
  > h2 {
    margin-top: 0 !important;
    font-family: 'Roboto Black';
    font-size: 2em;
  }
  > p {
    line-height: 1.5em;
    text-align: center;
    // padding: 0em 1.5em;
  }
}

.c5-col + .c5-col {
  margin-top: 60px;
}

.c5-image {
  max-width: 40%;
  margin: 0 auto;
}