@font-face {
  font-family: 'Quicksand';
  src: url('quicksand/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('quicksand/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Light';
  src: url('quicksand/Quicksand-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Medium';
  src: url('quicksand/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand SemiBold';
  src: url('quicksand/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'KumbhSans Bold';
  src: url('kumbhsans/KumbhSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'KumbhSans Light';
  src: url('kumbhsans/KumbhSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'KumbhSans Regular';
  src: url('kumbhsans/KumbhSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan Regular';
  src: url('spartan/Spartan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan Medium';
  src: url('spartan/Spartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan Bold';
  src: url('spartan/Spartan-Bold.ttf') format('truetype');
}