@font-face {
  font-family: 'Quicksand';
  src: url('quicksand/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('quicksand/Quicksand-Bold.ttf') format('truetype');
}