.profile-card-component {
  height: 375px;
  width: 350px;
  background-color: #FFF;
  border-radius: 16px;
  &-box {
    height: 720px;
    width: 1440px;
    background-color: #19A2AE;
  }
  &-card-bg-pattern {
    height: 140px;
    width: 350px;
    background-image: url(bg-pattern-card.svg);
    border-radius: 16px 16px 0px 0px;
  }
}

