.profile-card-component {
  height: 375px;
  width: 350px;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  &-box {
    position: relative;
    height: 720px;
    width: 1440px;
    background-color: #19A2AE;
    z-index: -10;
  }
  &-bg-pattern-top {
    position: absolute;
    height: 978px;
    width: 978px;
    display: block;
    z-index: -1;
  }
  &-bg-pattern-bottom {
    position: absolute;
    height: 978px;
    width: 978px;
    z-index: -1;
  }
  &-card-bg-pattern {
    height: 140px;
    width: 350px;
    background-image: url(bg-pattern-card.svg);
    border-radius: 16px 16px 0px 0px;
  }
  &-photo {
    position: relative;
    height: 96px;
    width: 96px;
    margin: 0 auto;
    bottom: 154px;
    background-image: url(image-victor.jpg);
    border-radius: 50%;
    z-index: 20;
    &-outline {
      position: relative;
      height: 106px;
      width: 106px;
      margin: 0 auto;
      bottom: 53px;
      border: 15px solid #FFF;
      border-radius: 50%;
      z-index: 10;
    }
  }
  &-copy {
    position: relative;
    font-size: 18px;
    bottom: 123px;
  }
  &-copy-name {
    font-family: 'KumbhSans Bold', sans-serif;
    padding-right: 7px;
  }
  &-copy-age {
    font-family: 'KumbhSans Regular', sans-serif;
  }
  &-copy-city {
    font-family: 'KumbhSans Regular', sans-serif;
    font-size: 14px;
    color: #676769;
    padding-top: 12px;
  }
  &-copy-stats {
    width: 300px;
    padding-top: 45px;
  }
  &-copy-stats-col {
    flex-grow: 1;
  }
  &-copy-stats-top {
    font-family: 'KumbhSans Bold', sans-serif;
    padding-bottom: 5px;
    letter-spacing: .25px;
  }
  &-copy-stats-bottom {
    font-family: 'KumbhSans Regular', sans-serif;
    font-size: 10px;
    color: #676769;
    letter-spacing: 1.25px;
  }
}

.faq-accordion-card {
  height: 511px;
  width: 922px;
  border-radius: 22px;
  background-color: #FFF;
  &-box {
    position: relative;
    height: 720px;
    width: 1440px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  }
  &-svg-main {
    position: absolute;
  }
  &-svg-bg {
    position: absolute;
  }
  &-svg-icon {
    position: absolute;
  }
  &-copy {
    padding-right: 80px;
    padding-top: 74px;
    z-index: 5;
    &-title {
      font-family: 'KumbhSans Bold', sans-serif;
      font-size: 33px;
      color: #4A4B5E;
      padding-bottom: 25px;
    }
    &-body {
      width: 340px;
      font-family: 'KumbhSans Regular', sans-serif;
      font-size: 14px;
      color: #4A4B5E;
      padding: 16px 0 16px 0;
      border-bottom: 1px solid #787887;
    }
    &-hover {
      width: 340px;
      font-family: 'KumbhSans Regular', sans-serif;
      font-size: 14px;
      color: #4A4B5E;
      padding: 16px 0 16px 0;
      border-bottom: 1px solid #787887;
      &:hover {
        color: #F47C57;
        cursor: pointer;
      }
    }
    &-body-inset {
      width: 340px;
      font-family: 'KumbhSans Regular', sans-serif;
      font-size: 12px;
      color: #787887;
      line-height: 150%;
      padding: 0 0 16px 0;
      border-bottom: 1px solid #787887;
    }
    &-body-bold {
      width: 340px;
      font-family: 'KumbhSans Bold', sans-serif;
      font-size: 14px;
      color: #4A4B5E;
      padding: 16px 0 14px 0;
    }
  }
  &-down-arrow {
    position: absolute;
  }
}

.social-proof-section {
  position: relative;
  height: 800px;
  width: 1440px;
  &-bg-top {
    position: absolute;
  }
  &-bg-bottom {
    position: absolute;
  }
  &-top {
    height: 230px;
    width: 1110px;
    // margin-bottom: 75px;
    &-ratings {
      padding: 20px 0px;
      &-1 {
        width: 445px;
        height: 56px;
        background-color: #F7F2F7;
        border-radius: 8px;
        margin: 0px 95px 16px 0px;
      }
      &-2 {
        width: 445px;
        height: 56px;
        background-color: #F7F2F7;
        border-radius: 8px;
        margin: 0px 47px 16px 0px;
      }
      &-3 {
        width: 445px;
        height: 56px;
        background-color: #F7F2F7;
        border-radius: 8px;
        margin: 0px 0px 0px 0px;
      }
      &-svgs {
        margin: 0 0 0 30px;
      }
      &-star {
        margin-right: 8px;
      }
      &-copy {
        margin-left: 33px;
        padding-top: 3px;
        font-family: 'Spartan Bold', sans-serif;
        font-size: 13px;
        color: #502050;
      }
    }
  }
  &-title {
    width: 380px;
    margin-bottom: 15px;
    font-family: 'Spartan Bold', sans-serif;
    font-size: 48px;
    color: #502050;
    line-height: 100.5%;
    letter-spacing: -2px;
  }
  &-copy {
    width: 400px;
    font-family: 'Spartan Medium', sans-serif;
    font-size: 15px;
    color: #937B92;
    line-height: 164.5%;
    letter-spacing: -1.25px;
  }
  &-bottom {
    position: relative;
    height: 266px;
    width: 1110px;
    justify-content: space-between;
    margin-top: 75px;
    &-title {
      margin-left: 23px;
      &-name {
        font-family: 'Spartan Medium', sans-serif;
        font-size: 14px;
        color: #FFF;
        padding-bottom: 6px;
      }
      &-status {
        font-family: 'Spartan Regular', sans-serif;
        font-size: 14px;
        color: #EE68A4;
      }
    }
    &-blurb {
      font-family: 'Spartan Regular', sans-serif;
      font-size: 13px;
      color: #FFF;
      margin-top: 30px;
      line-height: 164.5%;
    }
    &-card-1 {
      width: 350px;
      height: 234px;
      background-color: #502050;
      border-radius: 8px;
      padding: 40px 32px 40px 32px;
      &-photo {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        background-image: url(image-colton.jpg);
        background-size: contain;
      }
    }
    &-card-2 {
      width: 350px;
      height: 234px;
      background-color: #502050;
      border-radius: 8px;
      margin-top: 16px;
      padding: 40px 32px 40px 32px;
      &-photo {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        background-image: url(image-irene.jpg);
        background-size: contain;
      }
    }
    &-card-3 {
      width: 350px;
      height: 234px;
      background-color: #502050;
      border-radius: 8px;
      margin-bottom: 20px;
      margin-top: 32px;
      padding: 40px 32px 40px 32px;
      &-photo {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        background-image: url(image-anne.jpg);
        background-size: contain;
      }
    }
  }
}