.profile-card-component {
  height: 375px;
  width: 350px;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  &-box {
    position: relative;
    height: 720px;
    width: 1440px;
    background-color: #19A2AE;
    z-index: -10;
    overflow: hidden;
  }
  &-bg-pattern-top {
    position: absolute;
    height: 978px;
    width: 978px;
    display: block;
    // top: -509px;
    // left: -285px;
    // background-image: url(bg-pattern-top.svg);
    z-index: -1;
  }
  &-bg-pattern-bottom {
    position: absolute;
    height: 978px;
    width: 978px;
    // top: 376px;
    // right: -230px;
    // background-image: url(bg-pattern-bottom.svg);
    z-index: -1;
  }
  &-card-bg-pattern {
    height: 140px;
    width: 350px;
    background-image: url(bg-pattern-card.svg);
    border-radius: 16px 16px 0px 0px;
  }
  &-photo {
    position: relative;
    height: 96px;
    width: 96px;
    margin: 0 auto;
    bottom: 154px;
    background-image: url(image-victor.jpg);
    border-radius: 50%;
    z-index: 20;
    &-outline {
      position: relative;
      height: 106px;
      width: 106px;
      margin: 0 auto;
      bottom: 53px;
      border: 15px solid #FFF;
      border-radius: 50%;
      z-index: 10;
    }
  }
  &-copy {
    position: relative;
    font-size: 18px;
    bottom: 123px;
  }
  &-copy-name {
    font-family: 'KumbhSans Bold', sans-serif;
    padding-right: 7px;
  }
  &-copy-age {
    font-family: 'KumbhSans Regular', sans-serif;
  }
  &-copy-city {
    font-family: 'KumbhSans Regular', sans-serif;
    font-size: 14px;
    color: #676769;
    padding-top: 12px;
  }
  &-copy-stats {
    width: 300px;
    padding-top: 45px;
  }
  &-copy-stats-col {
    flex-grow: 1;
  }
  &-copy-stats-top {
    font-family: 'KumbhSans Bold', sans-serif;
    padding-bottom: 5px;
    letter-spacing: .25px;
  }
  &-copy-stats-bottom {
    font-family: 'KumbhSans Regular', sans-serif;
    font-size: 10px;
    color: #676769;
    letter-spacing: 1.25px;
  }
}

.faq-accordion-card {
  height: 511px;
  width: 922px;
  border-radius: 22px;
  background-color: #FFF;
  z-index: -10;
  &-box {
    position: relative;
    height: 720px;
    width: 1440px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    z-index: -20;
    overflow: hidden;
  }
  &-svg-main {
    position: absolute;
    display: block;
  }
  &-svg-bg {
    position: absolute;
    display: block;
    z-index: -1;
  }
}