<div class="c3-container">
  <div class="c3-content">
    <h1>Responsive layouts don't have to be a struggle</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <button class="button">I WANT TO LEARN</button>
  </div>
</div>