<%# Flexbox Challenge 1 %>
<div class="c3-hero">
  <div class="c3-container">
    <div class="c3-content">
      <h1>Responsive layouts don't have to be a struggle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <a href="#" class="button">I WANT TO LEARN</a>
    </div>
  </div>
</div>
<div class="c4-container flex flex-center">
  <div class="c4-col flex flex-col flex-center-all">
    <h2>Cheap</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="c4-col flex flex-col flex-center-all">
    <h2>Quick</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="c4-col flex flex-col flex-center-all">
    <h2>Affordable</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
</div>
<div class="c4-container-bottom">
  <div class="c4-content-bottom flex flex-center-all"> 
    <div class="c4-col-bottom flex flex-col flex-center-all">
      <h2>Cheap</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="c4-col-bottom flex flex-col flex-center-all">
      <h2>Quick</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
  </div>
</div>