<%# Flexbox Challenge 2 %>
<div class="c5-hero">
  <div class="c5-container flex">
    <div class="c5-heading">
      <h1>Responsive layouts don't have to be a struggle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <a href="#" class="button">I WANT TO LEARN</a>
    </div>
    <%= image_tag("hero-img.jpg", :alt => "wireframe images", style: 'max-width: 40%; height: 100%; margin: 0 auto') %>
  </div>
</div>
<div class="c5-body">
  <div class="c5-container flex">
    <div class="c5-content flex flex-col">
      <h2>Quality designs made custom, on demand, just for you</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>
    <div class="c5-sidebar flex flex-col">
      <div class="c5-col flex flex-col flex-center-all">
        <h2>Cheap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="c5-col flex flex-col flex-center-all">
        <h2>Quick</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="c5-col flex flex-col flex-center-all">
        <h2>Affordable</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
  </div>
</div>