<%# Flexbox Challenge 2 %>
<div class="c5-hero">
  <div class="c5-container flex">
    <div class="c5-content">
      <h1>Responsive layouts don't have to be a struggle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <a href="#" class="button">I WANT TO LEARN</a>
    </div>
    <div class="c5-image right">HIHIHIHI</div>
  </div>
</div>
<div class="flex">
</div>